.text-type-1 {
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    font-weight: 500;
}

.text-type-2 {
    font-family:'Arial', Helvetica, sans-serif;
    text-align: left;
    font-weight: 600;}

.body {
    background-color: teal;
    margin:auto;
    size: calc();
}
.container{
    margin : 50px;
    border: 3px solid black;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    padding: 20px;}

.column{
    flex: 1;
    padding: 10px;
    border: 2px solid gray;
    margin: 20px;
    box-sizing: border-box;
    background-color: whitesmoke;
    text-align: center;
}

.heading {
    padding: 10px;
    text-align: center;
    background-size: 17%;
    background-color: lightblue;
    text-size-adjust: calc();
    font-family: 'Arial Black', Gadget, sans-serif;
}

.navbar {
    overflow: hide;
    border: 1px solid grey;
    background-color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin:20px;
    padding:10px;
}

.link {
    text-decoration: solid;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    padding : 10px;
    gap:calc();
}

.footer {
    text-align: center;
    background-color: aqua;
    padding: 12px 0;
    width: 100%;
    font-size: 14px;
    margin-top:auto;
    align-self: baseline;
}

.image {
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
}
